.not_found_wrap {
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .not_found_page {
        font-size: 35px;

        @media ALL and (max-width:500px) {
            margin-top: 30%;
            font-size: 22px;
        }
    }

    .home_button {
        margin-top: 10px;
        font-size: 18px;

        @media ALL and (max-width:500px) {
            font-size: 16px;
        }
    }

    h1 {
        color: white;
        margin-bottom: 20pxs;
    }

    a {
        color: rgb(30, 30, 217);
        font-weight: 700;
        border-bottom: 1px solid rgb(30, 30, 217);
    }
}