.management_title_box {
    display: flex;
    color: white;
    justify-content: center;

    .management_title {
        margin-top: 20px;
        font-size: 22px;
    }
}

.management_content_wrap {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;

    .management_content_title {
        display: flex;
        align-items: center;
        color: white;
        margin-bottom: 12px;
        flex-direction: column;
    }
}

table {

    .table-title {
        border-top: 1.5px solid rgb(162, 162, 162);
    }

    td {
        width: 100vw;
        border-bottom: 1.5px solid rgba(171, 171, 171, 0.5);
        padding: 20px 10px 20px 10px;
        border-collapse: collapse;
    }
}