/*
.contents {
            word-break: break-all;
            width: 96%;
            height: fit-content;
            margin: 10px auto 10px 2%;

            .content {
                font-size: 14px;
                font-weight: 400;
            }
        }
*/

.content_box_wrap {
    color: #E5EDF5;
    .content_box {
        word-break: break-all;
        margin: 20px 0px 20px 0px;
        border-radius: 6px;
        border: 2px solid #30363D;
        padding: 0px 15px 20px 0px;
        width: 100%;

        .header_info_box {
            display: flex;
            margin-top: 15px;
            margin-left: 15px;

            .count_text {
                font-size: 16px;
                margin-right: 8px;
                @media ALL and (max-width:600px) {
                    font-size: 10px;
                }
            }

            .date_text_box {
                margin-top: -1px;

                .date_text {
                    font-size: 12px;
                    color: #83888E;
                    @media ALL and (max-width:600px) {
                        font-size: 10px;
                    }
                }
            }

            .author_text_box {
                margin-left: auto;
                font-size: 12px;
                @media ALL and (max-width:600px) {
                    font-size: 10px;
                }

                .author_text {
                    color: #ACAFB2;
                    @media ALL and (max-width:600px) {
                        font-size: 10px;
                        width: 30px;
                    }
                }
            }
        }

        .text_box {
            margin-left: 15px;
            margin-top: 15px;

            .content_text {
                font-size: 14px;
                color: #E5EDF5;
            }
        }
    }
}