@font-face {
    font-family: 'main';
    src: url('../../src/fonts/Segoe\ UI\ Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'sub';
    src: url('../../src/fonts/Segoe\ UI.ttf');
}

.article_wrap {
    display: flex;
    justify-content: center;

    .article_box {
        width: 65vw;

        .post_title_box {
            @media ALL and (max-width:500px) {
                margin-top: 40px;
            }

            .post_title {
                margin-top: 30px;
                margin-bottom: -35px;
                font-size: 22px;
                color: #E5EDF5;

                @media ALL and (max-width:500px) {
                    font-size: 0;
                }
            }

            .form_boxs {
                margin-top: -30px;
                margin-bottom: 10px;
                color: white;
                float: right;
                display: flex;
                flex-direction: row;
                margin-top: 10px;

                @media ALL and (max-width:500px) {
                    float: left;
                }

                .posts-wrap {
                    display: flex;
                    align-items: center;
                    margin-bottom: 5px;

                    .post-button-wrap {
                        display: flex;
                    }

                    .anony-button-wrap {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 20px;

                        .preview-img {
                            width: 25px;
                            height: 25px;
                            margin-right: 20px;
                            margin-left: 10px;
                        }

                        .anony_button_span {
                            font-size: 14px;
                            font-family: 'main';
                            font-style: normal;
                            font-weight: 700;
                            cursor: pointer;

                            @media ALL and (max-width:500px) {
                                font-size: 14px;
                            }
                        }

                        .anony-button {
                            margin-left: 5px;
                            width: 18px;
                            height: 18px;
                            border-radius: 6px;
                            background-color: #21262D;
                            border: 1px solid #30363D;
                            color: #E5EDF5;
                            cursor: pointer;

                            @media ALL and (max-width:500px) {
                                width: 18px;
                                height: 18px;
                                border-radius: 6px;
                                font-size: 10px;
                            }
                        }
                    }

                    input {
                        width: 230px;

                        @media ALL and (max-width:500px) {
                            width: 60px;
                        }
                    }

                    input[type=file]::file-selector-button {
                        margin-top: 2px;
                        margin-bottom: 2px;
                        font-family: 'main';
                        font-style: normal;
                        font-weight: 700;
                        height: 20px;
                        background-color: transparent;
                        color: #E5EDF5;
                        border: none;
                        cursor: pointer;
                        font-size: 1vw;

                        &:hover {
                            color: #fff;
                        }

                        margin-left: 16%;
                    }
                }

                .post_button {
                    width: 60px;
                    height: 25px;
                    font-size: 12px;
                    color: #E5EDF5;
                    border-radius: 4px;
                    background-color: #238636;
                    border: 1px solid #30363D;
                    font-family: 'main';
                    font-style: normal;
                    font-weight: 700;
                    cursor: pointer;

                    @media ALL and (max-width:500px) {
                        margin-top: 1.5px;
                        width: 50px;
                        height: 20px;
                    }

                    span {
                        margin-left: 4px;
                        cursor: pointer;
                        font-size: 13px;
                    }
                }
            }
        }

        .editor_box {

            .editor {
                outline: none;
                resize: none;
                border: 2px solid #30363D;
                border-radius: 6px;
                background-color: #0D1117;
                color: #E5EDF5;
                width: 65vw;
                height: 110px;
                padding: 15px;
            }
        }

    }
}