.article_wrap {

    .post_title_box {
        display: flex;

        .post_title {
            margin: 20px auto 10px 20%;
            font-size: 22px;
        }
    }

    .editor_box {
        margin: 0px 0px 0px 20%;
    }
}